{% extends "base.html.twig" %}

{% block body %}

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{# si l'user est connecté, il voit la navbar #}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
   <a class="navbar-brand" href="{{ path("project_index") }}">ToDoList</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path("project_index") }}">Mes projets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("project_new")}}">Creer un projet</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path("backed_projects") }}">Les projets archivés</a>
      </li>  
    </ul>
  </div>
  {% endif %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
{% if app.user %}
{# affiche le nom de la personne connectée #}
    <p class="mx-5"> {{ app.user.username}} <p>
{% endif %}
    <a href="{{ path("app_logout") }}" type="button" class="btn btn-warning ">Se deconnecter</a>
    
{% else %}
    <a  href="{{ path("app_login") }}" type="button" class="btn btn-primary m-3">Se connecter</a>
    <a  href="{{ path("app_register") }}" type="button" class="btn btn-secondary m-3">S'inscrire</a>
  
{% endif %}


</nav>
<div class="container my-5">

{% block main %}

{% endblock %}
<div>

{% endblock %}