{% extends 'template.html.twig' %}

{% block title %}Mon projet{% endblock %}

{% block main %}

<a class="btn btn-secondary" href="{{ path('project_index') }}"> Revenir à la liste des projets</a>
    <h2 class="text-center m-3">{{ project.title }}</h2>
        <div class="jumbotron bg-light">
            <h3>{{ project.content }}</h3>
            <p class="lead">Créé le {{ project.creationDate ? project.creationDate|date('Y-m-d H:i:s') : '' }}</p>
             <p class="lead text-warning">A finir avant le {{ project.deadline ? project.deadline|date('Y-m-d H:i:s') : '' }}</p>
            <div class="lead">
             {% for task in tasks %}
                <div class="card my-4">
                    <div class="card-header">
                    {{ task.title }}
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{ task.content }}</h5>
                    <p class="card-text"><p class="float-right text-warning mx-2"> A finir avant : {{ task.deadline | date("m/d/Y")}} à {{ task.deadline | date('H:i') }} </p></p>
                     {{ include('task/_delete_form.html.twig') }}
                    </div>
                </div>
                <hr>
             {% endfor %}
            
            
            </div>

            <p class="lead">
            <a class="btn btn-primary btn-lg" href="{{ path('task_new', {'id': project.id}) }}" role="button">Ajouter tache</a>
            </p>
            <a class="btn btn-secondary" href="{{ path('project_edit', {'id': project.id}) }}">Modifier</a>
              {{ include('project/_delete_form.html.twig') }}
        </div>


  
{% endblock %}
